{# TODO : manage errors display #}

<form method="POST">
	<input type="hidden" value="{{ item.id }}" name="id">
	<input type="text" value="{{ item.title }}" name="title">
	<input type="submit" value="Validate">
</form>
